@model List<ContactListDto>

@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/AdminLayout/Index.cshtml";
	int count = 0;
}

<div class="content">
	<div class="container-fluid">
		<h4 class="page-title">Ana Sayfa İletişim Bilgi İşlemleri</h4>
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-header">
						<div class="card-title">İletişim Listesi</div>
					</div>
					<div class="card-body">
						<div class="card-sub">
							İletişim ile ilgili işlemleri aşağıdan gerçekleştirebilirsiniz :
						</div>
						<table class="table mt-3">
							<thead>
								<tr>
									<th scope="col">#</th>
									<th scope="col">Konum</th>
									<th scope="col">Telefon</th>
									<th scope="col">Mail</th>
									<th scope="col">Açıklama</th>
									<th scope="col">Açıklama Başlığı</th>
									<th scope="col">Açık Günler</th>
									<th scope="col">Açık Saatler</th>
									<th scope="col">Güncelle</th>
								</tr>
							</thead>
							<tbody>
								@foreach (var item in Model)
								{
									count += 1;
									<tr>
										<td>@count</td>
										<td>@item.Location</td>
										<td>@item.Phone</td>
										<td>@item.Mail</td>
										<td>@item.FooterDescription</td>
										<td>@item.FooterTitle</td>
										<td>@item.OpenDays</td>
										<td>@item.OpenDaysDescription</td>
										<td><a href="/Contact/UpdateContact/@item.ContactId/" class="btn btn btn-outline-success">Güncelle</a></td>
									</tr>
								}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>